<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="id">Id</label>
        <input id="id" name="id" type="text" required />

        <label for="name">Name</label>
        <input id="name" name="name" type="text" required />
        
        <label for="department" >Department</label>
        <input id="department" name="department" type="text" required/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>